{
  "extends": "stylelint-config-standard",
  "plugins": ["stylelint-scss", "stylelint-order"],
  "rules": {
    "at-rule-no-unknown": null,
    "scss/at-rule-no-unknown": true,
    "order/properties-order": [
      "content",
      "display",
      "vertical-align",
      "position",
      "max-height",
      "min-height",
      "height",
      "max-width",
      "min-width",
      "width",
      "flex-flow",
      "flex-direction",
      "align-content",
      "align-items",
      "justify-content",
      "gap",
      "padding",
      "margin",
      "inset",
      "top",
      "right",
      "bottom",
      "left",
      "font",
      "font-size",
      "font-weight",
      "font-family",
      "line-height",
      "color",
      "background",
      "background-color",
      "border",
      "border-color",
      "border-collapse",
      "border-spacing",
      "border-radius",
      "outline",
      "text-align",
      "text-overflow",
      "text-transform",
      "list-style",
      "overflow",
      "overflow-x",
      "overflow-y",
      "float",
      "resize",
      "cursor",
      "user-select",
      "z-index"
    ],
    "rule-empty-line-before": [
      "always",
      { "except": ["inside-block-and-after-rule"], "ignore": ["inside-block"] }
    ],
    "selector-class-pattern": null,
    "selector-type-case": null,
    "selector-type-no-unknown": null,
    "selector-attribute-quotes": null,
    "shorthand-property-no-redundant-values": true,
    "unit-allowed-list": ["px", "%", "ms", "vh", "vw", "deg"]
  }
}
